<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.ekgc.www.mapper.TeachersMapper">

    <select id="findTeachers" resultType="cn.ekgc.www.pojo.Students">
        select * from teachers
    </select>

    <insert id="insertTeachers">
        insert into teachers (id, name, gender, department, email, phone, title)
        value (null, #{teachers.name}, #{teachers.gender}, #{teachers.department}, #{teachers.email}, #{teachers.phone}, #{teachers.title})
    </insert>

    <delete id="deleteTeachers">
        delete from teachers where id = #{id}
    </delete>

</mapper>